<h1>
    Login
</h1>

<label for="email">
    Email
</label>
<input id="email" type="email" name="email" placeholder="xxx@gmail.com" />

<label for="password">
    Password
</label>
<input id="password" type="password" name="password" placeholder="pa$$word" />

<button onclick="login()">Login</button>

<a href="/">
    Back to Home
</a>

<script>
    const url = 'http://' + window.location.host;
    function login() {
        let mailElement = document.getElementById("email");
        let passElement = document.getElementById("password");

        let data = {
            "email": mailElement.value,
            "password": passElement.value
        }

        fetch(url+"/api/login", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(data),
        })
            .then((response) => response.text())
            .then((data) => {
                localStorage.setItem("token", data);
                window.location.replace("/home");
            })
            .catch((error) => {
                console.error(error);
                alert("Login Failed");
            })
    }
</script>