{{template "partials/header" .}}

<div class="root">
  <h1 class="root-header">
    Signup
  </h1>

  <label for="email">
    Email
  </label>
  <input id="email" type="email" name="email" placeholder="xxx@gmail.com" />

  <br />

  <label for="password">
    Password
  </label>
  <input id="password" type="password" name="password" placeholder="pa$$word" />

  <br />

  <button onclick="signup()">Signup</button>
</div>

<script>
  const url = 'http://' + window.location.host;
  function signup() {
    let mailElement = document.getElementById("email");
    let passElement = document.getElementById("password");

    let data = {
      "email": mailElement.value,
      "password": passElement.value
    }

    fetch(url+"/api/signup", {
      method: "PUT",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(data),
    })
      .then((response) => {
        if (response.status === 201) {
          window.location.replace("/login");
        } else {
          alert("Signup Failed by server")
        }
      })
      .catch((error) => {
        console.error(error);
        alert("Signup Failed");
      })
  }
</script>