* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, serif;
}

.header {
    list-style-type: none;
    padding: 20px 40px;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 15px;
}

.header-item {
    display: inline-block;
    margin-right: 30px;
    background: #00cb0a;
    border-radius: 4px;
    padding: 10px;
}

.header-item:hover {
    background: #00cb0a;
    color: #eeeeee;
}

.header-link {
    outline: none;
    color: inherit;
    text-decoration: none;
}

.root {
    width: 50%;
    margin: 50px auto;
}

.root-header {
    margin-bottom: 25px;
}

.root-description {
    text-align: justify;
}